
/***************
 * Action bars *
 ***************/
.action-bar {
    border: solid @border;
    border-top-width: 1px;
    background-color: @background;
    padding: 6px 6px 5px 6px;
}

.action-bar:backdrop {
    border: solid @backdrop_border;
    border-top-width: 1px;
    background-color: @backdrop_background;
}

.action-bar .button.text-button {
    padding: 2px 16px;
}

.action-bar .button.image-button {
    padding: 5px 5px 4px 5px;
}

.action-bar .title {
    font: Bold 11;
    padding: 0px 12px 0px 12px;
}

.action-bar .subtitle {
    font: 9;
    padding: 0px 12px 0px 12px;
}
