
/***********
* Calendar *
************/

GtkCalendar {
    padding: 2px;
    border-radius: 2px;
}

GtkCalendar.view {
    border-color: @border;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}

GtkCalendar.header {
    border-radius: 0;
    background-color: @background;
    border-width: 0;
}

GtkCalendar.button {
    border: none;
    background-color: transparent;
    color: @foreground;
}

GtkCalendar.button:insensitive,
GtkCalendar.button:backdrop,
GtkCalendar.button:insensitive:backdrop {
    background: none;
}

.highlight,
GtkCalendar.highlight {
    background-color: @selection;
    color: @selected_foreground;
    border-radius: 0;
    padding: 0;
    border-width: 0;
}

GtkCalendar.button,
GtkCalendar.button:insensitive,
GtkCalendar.header,
GtkCalendar.view {
    background-color: transparent;
    background-image: none;
}
