
/****************
 * cell and row *
 ****************/

.cell {
    color: @foreground;
    text-shadow: none;
    border-width: 0px;
}

.cell:selected,
.cell:selected:focus {
    background-color: @selection;
    color: @selected_foreground;
}

row:selected,
row:selected:focus {
    border: 0 solid shade(@selection, 0.9);
    background-color: @selection;
    background-image: none;
    color: @selected_foreground;

    -GtkWidget-focus-padding: 1;
    -GtkWidget-focus-line-width: 0;
}
