
/*********
 * Image *
 *********/
 
GtkImage,
GtkImage:active,
GtkImage:insensitive {
    background-color: transparent;
    border:none;
}

/*******************
 * Symbolic Images *
 *******************/

.image {
    color: @internal_element;
}

.image:hover {
    color: @internal_element_prelight;
}

.image:selected,
.image:selected:hover {
    color: @selected_foreground;
}

.view.image:backdrop,
.image:backdrop {
    color: @backdrop_text;
}
.view.image:insensitive,
.image:insensitive {
    color: @insenstive_text;
}

.view.image,
.view.image:hover {
    color: @view_symbolic;
}

.view.image:selected,
.view.image:selected:hover {
    color: @selected_foreground;
}
