
/* Set up shadows and hilights for button visual separation */
.linked .entry {
    box-shadow: inset -1px 0 @inset_dark;
}

.linked .entry:focus {
    box-shadow: inset 1px 0 @inset_dark,
                inset -1px 0 @inset_dark,
                inset 1px 2px alpha(@selection, 0.1),
                inset 1px 1px alpha(@selection, 0.1),
                inset -1px -1px alpha(@selection, 0.2);
}

.linked .entry:backdrop {
    box-shadow: none;
}

.linked .entry:focus:first-child {
    box-shadow: inset -1px 0 @inset_dark,
                inset 1px 2px alpha(@selection, 0.1),
                inset 1px 1px alpha(@selection, 0.1),
                inset -1px -1px alpha(@selection, 0.2);
}

.linked .entry:focus:last-child {
    box-shadow: inset 1px 0 @inset_dark,
                inset 1px 2px alpha(@selection, 0.1),
                inset 1px 1px alpha(@selection, 0.1),
                inset -1px -1px alpha(@selection, 0.2);
}

/* Set up shadows and hilights for button visual separation */
.linked .button,
.toolbar .button.raised.linked,
.toolbar .raised.linked .button,
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar GtkToolButton > .button {
    box-shadow: inset 1px 0 @inset_light, inset -1px 0 @inset_dark;
}

.linked .button:first-child,
.toolbar .button.raised.linked:first-child,
.toolbar .raised.linked .button:first-child,
.inline-toolbar.toolbar .button:first-child,
.inline-toolbar.toolbar GtkToolButton:first-child > .button {
    box-shadow: inset -1px 0 @inset_dark;
}

.linked .button:last-child,
.toolbar .button.raised.linked:last-child,
.toolbar .raised.linked .button:last-child,
.inline-toolbar.toolbar .button:last-child,
.inline-toolbar.toolbar GtkToolButton:last-child > .button {
    box-shadow: inset 1px 0 @inset_light;
}

.linked .button:active,
.toolbar .button.raised.linked:active,
.toolbar .raised.linked .button:active,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar GtkToolButton > .button:active {
    box-shadow: inset 0 1px 1px alpha(#000, 0.1),
                inset 1px 0 @inset_dark;
}

.linked .button:active:backdrop,
.toolbar .button.raised.linked:active:backdrop,
.toolbar .raised.linked .button:active:backdrop,
.inline-toolbar.toolbar .button:active:backdrop,
.inline-toolbar.toolbar GtkToolButton > .button:active:backdrop {
    box-shadow: none;
}

.linked .button:insensitive,
.toolbar .button.raised.linked:insensitive,
.toolbar .raised.linked .button:insensitive,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive {
    box-shadow: inset -1px 0 @inset_dark;
}

.linked .button:backdrop,
.toolbar .button.raised.linked:backdrop,
.toolbar .raised.linked .button:backdrop,
.inline-toolbar.toolbar .button:backdrop,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop {
    box-shadow: none;
}

.linked .button:insensitive:backdrop,
.toolbar .button.raised.linked:insensitive:backdrop,
.toolbar .raised.linked .button:insensitive:backdrop,
.inline-toolbar.toolbar .button:insensitive:backdrop,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive:backdrop {
    box-shadow: none;
}

/* remove box shadow from last-child and only-child */
.linked .button:backdrop:last-child,
.linked .button:insensitive:last-child,
.linked .button:backdrop:insensitive:last-child,
.linked .button:only-child,
.linked .button:backdrop:only-child,
.linked .button:backdrop:insensitive:only-child,
.toolbar .button.raised.linked:backdrop:last-child,
.toolbar .button.raised.linked:insensitive:last-child,
.toolbar .button.raised.linked:backdrop:insensitive:last-child,
.toolbar .button.raised.linked:backdrop:only-child,
.toolbar .button.raised.linked:backdrop:insensitive:only-child,
.toolbar .raised.linked .button:insensitive:last-child,
.toolbar .raised.linked .button:backdrop:last-child,
.toolbar .raised.linked .button:insensitive:backdrop:last-child,
.toolbar .raised.linked .button:backdrop:only-child,
.toolbar .raised.linked .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar .button:backdrop:last-child,
.inline-toolbar.toolbar .button:insensitive:last-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:last-child,
.inline-toolbar.toolbar .button:only-child,
.inline-toolbar.toolbar .button:backdrop:only-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:backdrop:insensitive,
.inline-toolbar.toolbar GtkToolButton:only-child > .button,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:backdrop:insensitive {
    box-shadow: none; 
}

/* remove inset from first-child and only-child active buttons */
.linked .button:only-child:active,
.toolbar .button.raised.linked:only-child:active,
.toolbar .raised.linked .button:only-child:active,
.inline-toolbar.toolbar .button:only-child:active,
.inline-toolbar.toolbar GtkToolButton > .button:only-child:active,
.linked .button:first-child:active,
.toolbar .button.raised.linked:first-child:active,
.toolbar .raised.linked .button:first-child:active,
.inline-toolbar.toolbar .button:first-child:active,
.inline-toolbar.toolbar GtkToolButton > .button:first-child:active  {
    box-shadow: inset 0 1px 1px alpha(#000, 0.1);
}

/* Middle button */
.linked .entry,
.linked .button,
.linked .button:active,
.linked .button:active:hover,
.linked .button:insensitive {
    border-right-width: 0;
    border-left-width: 0;
    border-image-width: 3px 0 4px 0;
    border-radius: 0;
}

/* Leftmost button */
.linked .entry:first-child,
.linked .button:first-child,
.linked .button:active:first-child,
.linked .button:active:hover:first-child,
.linked .button:insensitive:first-child {
    border-right-width: 0;
    border-left-width: 1px;
    border-image-width: 3px 0 4px 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* Rightmost button */
.linked .entry:last-child,
.linked .button:last-child,
.linked .button:active:last-child,
.linked .button:active:hover:last-child,
.linked .button:insensitive:last-child {
    border-right-width: 1px;
    border-left-width: 0;
    border-image-width: 3px 3px 4px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Linked single button */
.linked .entry:only-child,
.linked .button:only-child,
.linked .button:active:only-child,
.linked .button:active:hover:only-child,
.linked .button:insensitive:only-child {
    border-right-width: 1px;
    border-left-width: 1px;
    border-image-width: 3px 3px 4px 3px;
    border-radius: 3px;
}

/* Middle button (vertical) */
.linked.vertical .entry,
.linked.vertical .button,
.linked.vertical .button:active,
.linked.vertical .button:active:hover,
.linked.vertical .button:insensitive {
    border-top-width: 0;
    border-bottom-width: 0;
    border-image-width: 0 3px;
    border-radius: 0;
}

/* Top button (vertical) */
.linked.vertical .entry:first-child,
.linked.vertical .button:first-child,
.linked.vertical .button:active:first-child,
.linked.vertical .button:active:hover:first-child,
.linked.vertical .button:insensitive:first-child {
    border-bottom-width: 0;
    border-image-width: 3px 3px 0 3px;
    border-radius: 3px 3px 0 0;
}

/* Bottom button (vertical) */
.linked.vertical .entry:last-child,
.linked.vertical .button:last-child,
.linked.vertical .button:active:last-child,
.linked.vertical .button:active:hover:last-child,
.linked.vertical .button:insensitive:last-child {
    border-top-width: 0;
    border-image-width: 0 3px 4px 3px;
    border-radius: 0 0 3px 3px;
}

/* Linked single button (vertical) */
.linked.vertical .entry:only-child,
.linked.vertical .button:only-child,
.linked.vertical .button:active:only-child,
.linked.vertical .button:active:hover:only-child,
.linked.vertical .button:insensitive:only-child {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-image-width: 3px 3px 4px 3px;
    border-radius: 3px;
}

/* Linked button shadows (vertical) */
.linked.vertical .button,
.inline-toolbar.toolbar.vertical .button,
.inline-toolbar.toolbar.vertical GtkToolButton > .button {
    box-shadow: inset 0 1px @inset_light, inset 0 -1px @inset_dark;
}

.linked.vertical .button:first-child,
.inline-toolbar.toolbar.vertical .button:first-child,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button {
    box-shadow: inset 0 -1px @inset_dark;
}

.linked.vertical .button:last-child,
.inline-toolbar.toolbar.vertical .button:last-child,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button {
    box-shadow: inset 0 -1px @inset_light;
}

.linked.vertical .button:active,
.inline-toolbar.toolbar.vertical .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:active {
    box-shadow: inset 0 1px @inset_dark, inset 0 -1px @inset_dark;
}

.linked.vertical .button:insensitive,
.inline-toolbar.toolbar.vertical .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:insensitive {
    box-shadow: inset 0 -1px @inset_dark;
}

.linked.vertical .button:backdrop,
.inline-toolbar.toolbar.vertical .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:backdrop {
    box-shadow: none;
}

.linked.vertical .button:insensitive:backdrop,
.inline-toolbar.toolbar.vertical .button:insensitive:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:insensitive:backdrop {
    box-shadow: none;
}

.linked.vertical .button:only-child,
.linked.vertical .button:backdrop:last-child,
.linked.vertical .button:insensitive:last-child,
.linked.vertical .button:insensitive:backdrop:last-child,
.linked.vertical .button:backdrop:only-child,
.linked.vertical .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:last-child,
.inline-toolbar.toolbar.vertical .button:insensitive:last-child,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive:last-child,
.inline-toolbar.toolbar.vertical .button:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:backdrop:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:backdrop:insensitive {
    box-shadow: none;
}

/* remove shadows from linked menu buttons */
.linked GtkMenuButton.menu-button:active,
.toolbar GtkMenuButton.menu-button.raised.linked:active,
.toolbar .raised.linked GtkMenuButton.menu-button:active,
.inline-toolbar.toolbar GtkMenuButton.menu-button:active,
.inline-toolbar.toolbar GtkToolButton > GtkMenuButton.menu-button:active {
    box-shadow: none;
}

/* Linked buttons on primary toolbars */

/* Middle button */
.primary-toolbar .button.raised.linked,
.primary-toolbar .button.raised.linked:active,
.primary-toolbar .button.raised.linked:insensitive,
.primary-toolbar .button.raised.linked:backdrop,
.primary-toolbar .button.raised.linked:active:backdrop,
.primary-toolbar .button.raised.linked:focus:backdrop,
.primary-toolbar .button.raised.linked:hover,
.primary-toolbar .linked .entry,
.primary-toolbar .linked .button,
.primary-toolbar .linked .button:active,
.primary-toolbar .linked .button:insensitive,
.primary-toolbar .linked .button:backdrop,
.primary-toolbar .linked .button:active:backdrop,
.primary-toolbar .linked .button:focus:backdrop,
.primary-toolbar .linked .button:hover,
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar .button:backdrop,
.inline-toolbar.toolbar .button:hover,
.inline-toolbar.toolbar .button:active:backdrop,
.inline-toolbar.toolbar .button:backdrop:insensitive,
.inline-toolbar.toolbar GtkToolButton > .button,
.inline-toolbar.toolbar GtkToolButton > .button:active,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop:active,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop:insensitive {
    border-right-width: 0;
    border-left-width: 0;
    border-image-width: 4px 0 4px 0;
    border-radius: 0;
}

/* Leftmost button */
.primary-toolbar .button.raised.linked:first-child,
.primary-toolbar .button.raised.linked:active:first-child,
.primary-toolbar .button.raised.linked:insensitive:first-child,
.primary-toolbar .button.raised.linked:backdrop:first-child,
.primary-toolbar .linked .entry:first-child,
.primary-toolbar .linked .button:first-child,
.primary-toolbar .linked .button:active:first-child,
.primary-toolbar .linked .button:insensitive:first-child,
.primary-toolbar .linked .button:backdrop:first-child,
.inline-toolbar.toolbar .button:first-child,
.inline-toolbar.toolbar .button:active:first-child,
.inline-toolbar.toolbar .button:insensitive:first-child,
.inline-toolbar.toolbar .button:backdrop:first-child,
.inline-toolbar.toolbar .button:backdrop:active:first-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:first-child,
.inline-toolbar.toolbar GtkToolButton:first-child > .button,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:backdrop:active,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:backdrop:insensitive {
    border-left-width: 2px;
    border-right-width: 0;
    border-image-width: 4px 0 4px 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* Rightmost button */
.primary-toolbar .button.raised.linked:last-child,
.primary-toolbar .button.raised.linked:active:last-child,
.primary-toolbar .button.raised.linked:insensitive:last-child,
.primary-toolbar .button.raised.linked:backdrop:last-child,
.primary-toolbar .linked .entry:last-child,
.primary-toolbar .linked .button:last-child,
.primary-toolbar .linked .button:active:last-child,
.primary-toolbar .linked .button:insensitive:last-child,
.primary-toolbar .linked .button:backdrop:last-child,
.inline-toolbar.toolbar .button:last-child,
.inline-toolbar.toolbar .button:active:last-child,
.inline-toolbar.toolbar .button:insensitive:last-child,
.inline-toolbar.toolbar .button:backdrop:last-child,
.inline-toolbar.toolbar .button:backdrop:active:last-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:last-child,
.inline-toolbar.toolbar GtkToolButton:last-child > .button,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:backdrop:active,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:backdrop:insensitive {
    border-left-width: 0;
    border-right-width: 2px;
    border-image-width: 4px 4px 4px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Single button */
.inline-toolbar.toolbar .button:only-child,
.inline-toolbar.toolbar .button:active:only-child,
.inline-toolbar.toolbar .button:insensitive:only-child,
.inline-toolbar.toolbar .button:backdrop:only-child,
.inline-toolbar.toolbar .button:backdrop:active:only-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar GtkToolButton:only-child > .button,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:backdrop:active,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:backdrop:insensitive {
    border-right-width: 2px;
    border-left-width: 2px;
    border-image-width: 4px;
    border-radius: 3px;
}

/* Special-case GtkMenuToolButton, since it's a GtkToolButton, but it
 * has a box inside to pack the button and the actual menu */
.inline-toolbar.toolbar GtkMenuToolButton .button:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:active:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:insensitive:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:backdrop:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:backdrop:insensitive:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:last-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:active:last-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:insensitive:last-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:backdrop:last-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:backdrop:insensitive:last-child {
    border-right-width: 0;
    border-left-width: 0;
    border-image-width: 4px 0 4px 0;
    border-radius: 0;
}

.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:first-child,
.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:active:first-child,
.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:insensitive:first-child,
.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:backdrop:first-child,
.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:backdrop:insensitive:first-child {
    border-left-width: 2px;
    border-right-width: 0;
    border-image-width: 4px 0 4px 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:last-child,
.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:active:last-child,
.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:insensitive:last-child,
.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:backdrop:last-child,
.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:backdrop:insensitive:last-child {
    border-left-width: 0;
    border-right-width: 2px;
    border-image-width: 4px 4px 4px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Vertical inline toolbars */

/* Middle button */
.inline-toolbar.toolbar.vertical .button,
.inline-toolbar.toolbar.vertical .button:active,
.inline-toolbar.toolbar.vertical .button:insensitive,
.inline-toolbar.toolbar.vertical .button:backdrop,
.inline-toolbar.toolbar.vertical .button:backdrop:active,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton > .button,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:backdrop:active,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:backdrop:insensitive {
    border-bottom-width: 0;
    border-top-width: 0;
    border-image-width: 0 3px 0 3px;
    border-radius: 0;
}

/* Topmost button */
.inline-toolbar.toolbar.vertical .button:first-child,
.inline-toolbar.toolbar.vertical .button:active:first-child,
.inline-toolbar.toolbar.vertical .button:insensitive:first-child,
.inline-toolbar.toolbar.vertical .button:backdrop:first-child,
.inline-toolbar.toolbar.vertical .button:backdrop:active:first-child,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive:first-child,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:backdrop:active,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:backdrop:insensitive {
    border-width: 1px 1px 0 1px;
    border-image-width: 3px 3px 0 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Bottommost button */
.inline-toolbar.toolbar.vertical .button:last-child,
.inline-toolbar.toolbar.vertical .button:active:last-child,
.inline-toolbar.toolbar.vertical .button:insensitive:last-child,
.inline-toolbar.toolbar.vertical .button:backdrop:last-child,
.inline-toolbar.toolbar.vertical .button:backdrop:active:last-child,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive:last-child,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:backdrop:active,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:backdrop:insensitive {
    border-width: 0 1px 2px 1px;
    border-image-width: 0 3px 4px 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Single button */
.inline-toolbar.toolbar.vertical .button:only-child,
.inline-toolbar.toolbar.vertical .button:active:only-child,
.inline-toolbar.toolbar.vertical .button:insensitive:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:active:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:backdrop:active,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:backdrop:insensitive {
    border-top-width: 1px;
    border-bottom-width: 2px;
    border-image-width: 3px 3px 3px 4px;
    border-radius: 3px;
}

*:link,
*:visited {
  color: @link;
}

GtkLinkButton.button,
GtkLinkButton.button:active {
    text-shadow: none;
}

.button .separator { 
    color: @border;
}

/* Set up shadows and hilights for button visual separation */
.linked .entry {
    box-shadow: inset -1px 0 @inset_dark;
}

.linked .entry:focus {
    box-shadow: inset 1px 0 @inset_dark,
                inset -1px 0 @inset_dark,
                inset 1px 2px alpha(@selection, 0.1),
                inset 1px 1px alpha(@selection, 0.1),
                inset -1px -1px alpha(@selection, 0.2);

}

.linked .entry:focus:first-child {
    box-shadow: inset -1px 0 @inset_dark,
                inset 1px 2px alpha(@selection, 0.1),
                inset 1px 1px alpha(@selection, 0.1),
                inset -1px -1px alpha(@selection, 0.2);

}

.linked .entry:focus:last-child {
    box-shadow: inset 1px 0 @inset_dark,
                inset 1px 2px alpha(@selection, 0.1),
                inset 1px 1px alpha(@selection, 0.1),
                inset -1px -1px alpha(@selection, 0.2);

}

/* Set up shadows and hilights for button visual separation */
.linked .button,
.toolbar .button.raised.linked,
.toolbar .raised.linked .button,
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar GtkToolButton > .button {
    box-shadow: inset 1px 0 @inset_light, inset -1px 0 @inset_dark;
}

.linked .button:first-child,
.toolbar .button.raised.linked:first-child,
.toolbar .raised.linked .button:first-child,
.inline-toolbar.toolbar .button:first-child,
.inline-toolbar.toolbar GtkToolButton:first-child > .button {
    box-shadow: inset -1px 0 @inset_dark;
}

.linked .button:last-child,
.toolbar .button.raised.linked:last-child,
.toolbar .raised.linked .button:last-child,
.inline-toolbar.toolbar .button:last-child,
.inline-toolbar.toolbar GtkToolButton:last-child > .button {
    box-shadow: inset 1px 0 @inset_light;
}

.linked .button:active,
.toolbar .button.raised.linked:active,
.toolbar .raised.linked .button:active,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar GtkToolButton > .button:active {
    box-shadow: inset 0 1px 1px alpha(#000, 0.1),
                inset 1px 0 @inset_dark;
}

.linked .button:insensitive,
.toolbar .button.raised.linked:insensitive,
.toolbar .raised.linked .button:insensitive,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive {
    box-shadow: inset -1px 0 @inset_dark;
}

.linked .button:backdrop,
.toolbar .button.raised.linked:backdrop,
.toolbar .raised.linked .button:backdrop,
.inline-toolbar.toolbar .button:backdrop,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop {
    box-shadow: none;
}

.linked .button:insensitive:backdrop,
.toolbar .button.raised.linked:insensitive:backdrop,
.toolbar .raised.linked .button:insensitive:backdrop,
.inline-toolbar.toolbar .button:insensitive:backdrop,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive:backdrop {
    box-shadow: none;
}

/* remove box shadow from last-child and only-child */
.linked .button:backdrop:last-child,
.linked .button:insensitive:last-child,
.linked .button:backdrop:insensitive:last-child,
.linked .button:only-child,
.linked .button:backdrop:only-child,
.linked .button:backdrop:insensitive:only-child,
.toolbar .button.raised.linked:backdrop:last-child,
.toolbar .button.raised.linked:insensitive:last-child,
.toolbar .button.raised.linked:backdrop:insensitive:last-child,
.toolbar .button.raised.linked:backdrop:only-child,
.toolbar .button.raised.linked:backdrop:insensitive:only-child,
.toolbar .raised.linked .button:insensitive:last-child,
.toolbar .raised.linked .button:backdrop:last-child,
.toolbar .raised.linked .button:insensitive:backdrop:last-child,
.toolbar .raised.linked .button:backdrop:only-child,
.toolbar .raised.linked .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar .button:backdrop:last-child,
.inline-toolbar.toolbar .button:insensitive:last-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:last-child,
.inline-toolbar.toolbar .button:only-child,
.inline-toolbar.toolbar .button:backdrop:only-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:backdrop:insensitive,
.inline-toolbar.toolbar GtkToolButton:only-child > .button,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:backdrop:insensitive {
    box-shadow: none; 
}

/* remove inset from first-child and only-child active buttons */
.linked .button:only-child:active,
.toolbar .button.raised.linked:only-child:active,
.toolbar .raised.linked .button:only-child:active,
.inline-toolbar.toolbar .button:only-child:active,
.inline-toolbar.toolbar GtkToolButton > .button:only-child:active,
.linked .button:first-child:active,
.toolbar .button.raised.linked:first-child:active,
.toolbar .raised.linked .button:first-child:active,
.inline-toolbar.toolbar .button:first-child:active,
.inline-toolbar.toolbar GtkToolButton > .button:first-child:active  {
    box-shadow: inset 0 1px 1px alpha(#000, 0.1);
}

/* Middle button */
.linked .entry,
.linked .button,
.linked .button:active,
.linked .button:backdrop,
.linked .button:active:hover,
.linked .button:insensitive {
    border-right-width: 0;
    border-left-width: 0;
    border-image-width: 3px 0 4px 0;
    border-radius: 0;
}

/* Leftmost button */
.linked .entry:first-child,
.linked .button:first-child,
.linked .button:active:first-child,
.linked .button:active:hover:first-child,
.linked .button:insensitive:first-child {
    border-right-width: 0;
    border-left-width: 1px;
    border-image-width: 3px 0 4px 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* Rightmost button */
.linked .entry:last-child,
.linked .button:last-child,
.linked .button:active:last-child,
.linked .button:active:hover:last-child,
.linked .button:insensitive:last-child {
    border-right-width: 1px;
    border-left-width: 0;
    border-image-width: 3px 3px 4px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Linked single button */
.linked .entry:only-child,
.linked .button:only-child,
.linked .button:active:only-child,
.linked .button:active:hover:only-child,
.linked .button:insensitive:only-child {
    border-right-width: 1px;
    border-left-width: 1px;
    border-image-width: 3px 3px 4px 3px;
    border-radius: 3px;
}

/* Middle button (vertical) */
.linked.vertical .entry,
.linked.vertical .button,
.linked.vertical .button:active,
.linked.vertical .button:active:hover,
.linked.vertical .button:insensitive {
    border-top-width: 0;
    border-bottom-width: 0;
    border-image-width: 0 3px;
    border-radius: 0;
}

/* Top button (vertical) */
.linked.vertical .entry:first-child,
.linked.vertical .button:first-child,
.linked.vertical .button:active:first-child,
.linked.vertical .button:active:hover:first-child,
.linked.vertical .button:insensitive:first-child {
    border-bottom-width: 0;
    border-image-width: 3px 3px 0 3px;
    border-radius: 3px 3px 0 0;
}

/* Bottom button (vertical) */
.linked.vertical .entry:last-child,
.linked.vertical .button:last-child,
.linked.vertical .button:active:last-child,
.linked.vertical .button:active:hover:last-child,
.linked.vertical .button:insensitive:last-child {
    border-top-width: 0;
    border-image-width: 0 3px 4px 3px;
    border-radius: 0 0 3px 3px;
}

/* Linked single button (vertical) */
.linked.vertical .entry:only-child,
.linked.vertical .button:only-child,
.linked.vertical .button:active:only-child,
.linked.vertical .button:active:hover:only-child,
.linked.vertical .button:insensitive:only-child {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-image-width: 3px 3px 4px 3px;
    border-radius: 3px;
}

/* Linked button shadows (vertical) */
.linked.vertical .button,
.inline-toolbar.toolbar.vertical .button,
.inline-toolbar.toolbar.vertical GtkToolButton > .button {
    box-shadow: inset 0 1px @inset_light, inset 0 -1px @inset_dark;
}

.linked.vertical .button:first-child,
.inline-toolbar.toolbar.vertical .button:first-child,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button {
    box-shadow: inset 0 -1px @inset_dark;
}

.linked.vertical .button:last-child,
.inline-toolbar.toolbar.vertical .button:last-child,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button {
    box-shadow: inset 0 -1px @inset_light;
}

.linked.vertical .button:active,
.inline-toolbar.toolbar.vertical .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:active {
    box-shadow: inset 0 1px @inset_dark, inset 0 -1px @inset_dark;
}

.linked.vertical .button:insensitive,
.inline-toolbar.toolbar.vertical .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:insensitive {
    box-shadow: inset 0 -1px @inset_dark;
}

.linked.vertical .button:backdrop,
.inline-toolbar.toolbar.vertical .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:backdrop {
    box-shadow:  none;
}

.linked.vertical .button:insensitive:backdrop,
.inline-toolbar.toolbar.vertical .button:insensitive:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:insensitive:backdrop {
    box-shadow: none;
}

.linked.vertical .button:only-child,
.linked.vertical .button:backdrop:last-child,
.linked.vertical .button:insensitive:last-child,
.linked.vertical .button:insensitive:backdrop:last-child,
.linked.vertical .button:backdrop:only-child,
.linked.vertical .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:last-child,
.inline-toolbar.toolbar.vertical .button:insensitive:last-child,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive:last-child,
.inline-toolbar.toolbar.vertical .button:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:backdrop:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:backdrop:insensitive {
    box-shadow: none;
}

/* remove shadows from linked menu buttons */
.linked GtkMenuButton.menu-button:active,
.toolbar GtkMenuButton.menu-button.raised.linked:active,
.toolbar .raised.linked GtkMenuButton.menu-button:active,
.inline-toolbar.toolbar GtkMenuButton.menu-button:active,
.inline-toolbar.toolbar GtkToolButton > GtkMenuButton.menu-button:active {
    box-shadow: none;
}

/* Linked buttons on primary toolbars */

/* Middle button */
.primary-toolbar .button.raised.linked,
.primary-toolbar .button.raised.linked:active,
.primary-toolbar .button.raised.linked:insensitive,
.primary-toolbar .button.raised.linked:backdrop,
.primary-toolbar .linked .entry,
.primary-toolbar .linked .button,
.primary-toolbar .linked .button:active,
.primary-toolbar .linked .button:insensitive,
.primary-toolbar .linked .button:backdrop,
.inline-toolbar.toolbar .button,
.inline-toolbar.toolbar .button:active,
.inline-toolbar.toolbar .button:insensitive,
.inline-toolbar.toolbar .button:backdrop,
.inline-toolbar.toolbar .button:backdrop:active,
.inline-toolbar.toolbar .button:backdrop:insensitive,
.inline-toolbar.toolbar GtkToolButton > .button,
.inline-toolbar.toolbar GtkToolButton > .button:active,
.inline-toolbar.toolbar GtkToolButton > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop:active,
.inline-toolbar.toolbar GtkToolButton > .button:backdrop:insensitive {
    border-right-width: 0;
    border-left-width: 0;
    border-image-width: 4px 0 4px 0;
    border-radius: 0;
}

/* Leftmost button */
.primary-toolbar .button.raised.linked:first-child,
.primary-toolbar .button.raised.linked:active:first-child,
.primary-toolbar .button.raised.linked:insensitive:first-child,
.primary-toolbar .button.raised.linked:backdrop:first-child,
.primary-toolbar .linked .entry:first-child,
.primary-toolbar .linked .button:first-child,
.primary-toolbar .linked .button:active:first-child,
.primary-toolbar .linked .button:insensitive:first-child,
.primary-toolbar .linked .button:backdrop:first-child,
.inline-toolbar.toolbar .button:first-child,
.inline-toolbar.toolbar .button:active:first-child,
.inline-toolbar.toolbar .button:insensitive:first-child,
.inline-toolbar.toolbar .button:backdrop:first-child,
.inline-toolbar.toolbar .button:backdrop:active:first-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:first-child,
.inline-toolbar.toolbar GtkToolButton:first-child > .button,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:backdrop:active,
.inline-toolbar.toolbar GtkToolButton:first-child > .button:backdrop:insensitive {
    border-left-width: 2px;
    border-right-width: 0;
    border-image-width: 4px 0 4px 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* Rightmost button */
.primary-toolbar .button.raised.linked:last-child,
.primary-toolbar .button.raised.linked:active:last-child,
.primary-toolbar .button.raised.linked:insensitive:last-child,
.primary-toolbar .button.raised.linked:backdrop:last-child,
.primary-toolbar .linked .entry:last-child,
.primary-toolbar .linked .button:last-child,
.primary-toolbar .linked .button:active:last-child,
.primary-toolbar .linked .button:insensitive:last-child,
.primary-toolbar .linked .button:backdrop:last-child,
.inline-toolbar.toolbar .button:last-child,
.inline-toolbar.toolbar .button:active:last-child,
.inline-toolbar.toolbar .button:insensitive:last-child,
.inline-toolbar.toolbar .button:backdrop:last-child,
.inline-toolbar.toolbar .button:backdrop:active:last-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:last-child,
.inline-toolbar.toolbar GtkToolButton:last-child > .button,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:backdrop:active,
.inline-toolbar.toolbar GtkToolButton:last-child > .button:backdrop:insensitive {
    border-left-width: 0;
    border-right-width: 2px;
    border-image-width: 4px 4px 4px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Single button */
.inline-toolbar.toolbar .button:only-child,
.inline-toolbar.toolbar .button:active:only-child,
.inline-toolbar.toolbar .button:insensitive:only-child,
.inline-toolbar.toolbar .button:backdrop:only-child,
.inline-toolbar.toolbar .button:backdrop:active:only-child,
.inline-toolbar.toolbar .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar GtkToolButton:only-child > .button,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:active,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:insensitive,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:backdrop,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:backdrop:active,
.inline-toolbar.toolbar GtkToolButton:only-child > .button:backdrop:insensitive {
    border-right-width: 2px;
    border-left-width: 2px;
    border-image-width: 4px;
    border-radius: 3px;
}

/* Special-case GtkMenuToolButton, since it's a GtkToolButton, but it
 * has a box inside to pack the button and the actual menu */
.inline-toolbar.toolbar GtkMenuToolButton .button:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:active:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:insensitive:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:backdrop:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:backdrop:insensitive:first-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:last-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:active:last-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:insensitive:last-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:backdrop:last-child,
.inline-toolbar.toolbar GtkMenuToolButton .button:backdrop:insensitive:last-child {
    border-right-width: 0;
    border-left-width: 0;
    border-image-width: 4px 0 4px 0;
    border-radius: 0;
}

.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:first-child,
.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:active:first-child,
.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:insensitive:first-child,
.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:backdrop:first-child,
.inline-toolbar.toolbar GtkMenuToolButton:first-child .button:backdrop:insensitive:first-child {
    border-left-width: 2px;
    border-right-width: 0;
    border-image-width: 4px 0 4px 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:last-child,
.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:active:last-child,
.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:insensitive:last-child,
.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:backdrop:last-child,
.inline-toolbar.toolbar GtkMenuToolButton:last-child .button:backdrop:insensitive:last-child {
    border-left-width: 0;
    border-right-width: 2px;
    border-image-width: 4px 4px 4px 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* Vertical inline toolbars */

/* Middle button */
.inline-toolbar.toolbar.vertical .button,
.inline-toolbar.toolbar.vertical .button:active,
.inline-toolbar.toolbar.vertical .button:insensitive,
.inline-toolbar.toolbar.vertical .button:backdrop,
.inline-toolbar.toolbar.vertical .button:backdrop:active,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton > .button,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:backdrop:active,
.inline-toolbar.toolbar.vertical GtkToolButton > .button:backdrop:insensitive {
    border-bottom-width: 0;
    border-top-width: 0;
    border-image-width: 0 3px 0 3px;
    border-radius: 0;
}

/* Topmost button */
.inline-toolbar.toolbar.vertical .button:first-child,
.inline-toolbar.toolbar.vertical .button:active:first-child,
.inline-toolbar.toolbar.vertical .button:insensitive:first-child,
.inline-toolbar.toolbar.vertical .button:backdrop:first-child,
.inline-toolbar.toolbar.vertical .button:backdrop:active:first-child,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive:first-child,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:backdrop:active,
.inline-toolbar.toolbar.vertical GtkToolButton:first-child > .button:backdrop:insensitive {
    border-width: 1px 1px 0 1px;
    border-image-width: 3px 3px 0 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Bottommost button */
.inline-toolbar.toolbar.vertical .button:last-child,
.inline-toolbar.toolbar.vertical .button:active:last-child,
.inline-toolbar.toolbar.vertical .button:insensitive:last-child,
.inline-toolbar.toolbar.vertical .button:backdrop:last-child,
.inline-toolbar.toolbar.vertical .button:backdrop:active:last-child,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive:last-child,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:backdrop:active,
.inline-toolbar.toolbar.vertical GtkToolButton:last-child > .button:backdrop:insensitive {
    border-width: 0 1px 2px 1px;
    border-image-width: 0 3px 4px 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Single button */
.inline-toolbar.toolbar.vertical .button:only-child,
.inline-toolbar.toolbar.vertical .button:active:only-child,
.inline-toolbar.toolbar.vertical .button:insensitive:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:active:only-child,
.inline-toolbar.toolbar.vertical .button:backdrop:insensitive:only-child,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:active,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:insensitive,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:backdrop,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:backdrop:active,
.inline-toolbar.toolbar.vertical GtkToolButton:only-child > .button:backdrop:insensitive {
    border-top-width: 1px;
    border-bottom-width: 2px;
    border-image-width: 3px 3px 3px 4px;
    border-radius: 3px;
}

GtkLinkButton.button,
GtkLinkButton.button:active {
    text-shadow: none;
}

.button .separator { 
    color: @border;
}
