
/********
 * Menu *
 ********/

GtkTreeMenu.menu,
GtkMenuButton .menu,
GtkMenuToolButton.menu,
GtkComboBox .menu {
    border:none;
    background-color: @base;
}

.primary-toolbar .button .menu,
.toolbar .menu,
.toolbar .primary-toolbar .menu,
.header-bar .menu,
.header-bar .primary-toolbar .menu,
.menu {
    padding: 0;
    border: none;
    background-color: @base;
    color: @foreground;
}

/*Context Menu*/

.context-menu {
    font: initial;
    text-shadow: none;
}

.content-view .menu {
    padding: 0 1px;

    background-color: @background;
    background-image: none;

    text-shadow:none;
}


.content-view .menu .menuitem:active,
.content-view .menu .menuitem:hover {
    background-color: @selection;
    color: white;
    text-shadow:none;
}

/*************
 * Menu Item *
 *************/


GtkTreeMenu .menuitem {
    padding: 3px;
}

.menu .menuitem {
    padding: 3px;
    border:none;

    -GtkMenuItem-arrow-scaling: 0.5;
}

.menu .menuitem GtkLabel,
.menu .menuitem GtkImage  {
    padding: 0 3px 0 3px;
    -gtk-icon-style: symbolic;
}

.menu .menuitem GtkLabel:hover,
.menu .menuitem GtkImage:hover  {
    -gtk-icon-style: symbolic;
    color: white;
}

.menu .menuitem:active,
.menu .menuitem:hover {
    border: none;
    background-color: @selection;
    color: white;
    text-shadow:none;
}

.menu .menuitem:insensitive,
.menu .menuitem *:insensitive {
    box-shadow: none;
    border: none;
    color: @insensitive_text;
}


/* Arrow color */
.menuitem.arrow {
    background-color: @base;
    color: @foreground;
    border: none;
}

/* Separator color */
.menuitem.separator {
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    background-color: @base;
    color: @menu_separator;
    -GtkMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 1;
}

.menuitem .entry {
    border: none;
    background-color: @base;
    background-image: none;
    color: @foreground;
}

.menuitem .entry:active,
.menuitem .entry:focus {
    border: none;
    color: white;
}

/* Accelerators */
.menuitem .accelerator,
.menuitem .accelerator:insensitive {
    color: alpha(@foreground, 0.7);
    text-shadow:none;
}

.menuitem .accelerator:hover,
.menuitem .accelerator:active {
    color: alpha (@foreground, 0.3);
}

/***********
 * Menubar *
 ***********/
.menubar {
    -GtkWidget-window-dragging: true;

    border: none;
    background-color: @background;
    background-image: none;
    color: @foreground;
}
.menubar:backdrop {
    background-color: @backdrop_background;
}

.menubar.menuitem,
.menubar .menuitem {
    padding: 2px 6px;
    border: none;
    background-color: transparent;
    color: @foreground;
}

.menubar.menuitem:hover,
.menubar .menuitem:hover {
    border: none;
    background-color: @selection;
    color: white;
    text-shadow:none;
}

/* Separator */
.menubar .menuitem.separator,
.menubar.menuitem.separator {
    -GtkMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 1;
    border: none;
    color: @menu_separator;
}

/*******************
 * Checks & Radios *
 *******************/

.menuitem.check,
.menuitem.radio {
    background: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
}

.menuitem.check,
.menuitem.check:active,
.menuitem.check:active:hover,
.menuitem.check:active:insensitive,
.menuitem.check:hover,
.menuitem.check:inconsistent,
.menuitem.check:inconsistent:hover,
.menuitem.check:inconsistent:insensitive,
.menuitem.check:insensitive,
.menuitem.radio,
.menuitem.radio:active,
.menuitem.radio:active:hover,
.menuitem.radio:active:insensitive,
.menuitem.radio:hover,
.menuitem.radio:inconsistent,
.menuitem.radio:inconsistent:hover ,
.menuitem.radio:inconsistent:insensitive,
.menuitem.radio:insensitive {
    background-size: 16px;
    background-color: transparent;
    box-shadow: none;
}
