
/***************
 * Search bars *
 ***************/

.search-bar {
    background-color: shade(@background, 0.98);
    border-color: shade(@border, 0.90);
    border-style: solid;
    border-width: 0 0 1px;
}

.search-bar:backdrop {
    background-color: @backdrop_background;
    border: 1px solid @backdrop_border;
    box-shadow: none;
}

GtkDialog .search-bar {
    background-color: @background;
    background-image: none;
    border-color: @border;
    box-shadow: none;
}

.search-bar .button.close-button {
    padding: 5px 4px 5px 5px;
}

.search-bar .button.close-button {
    padding: 5px 4px 5px 5px;
}
