
/****************************
 * Suggested action buttons *
 ****************************/
.suggested-action.button {
    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 0;
    
    background-image: linear-gradient(to bottom,
                                      @suggested_action_button_a,
                                      @suggested_action_button_b);

    color: #fff;

    text-shadow: 0 1px alpha(#000, 0.2);
    icon-shadow: 0 1px alpha(#000, 0.2);


    border-radius: 3px;
    border: 1px solid shade(@selection, 0.95);

    box-shadow: inset 0 1px 0 0 alpha(#fff, 0.4),
                inset 0 0 0 1px alpha(#fff, 0.2),
                0 1px 0 0 alpha(#000, 0.2);
}

.suggested-action.button:hover {
    background-image: linear-gradient(to bottom,
                                      shade(@suggested_action_button_a, 1.10),
                                      shade(@suggested_action_button_b, 1.05));

    border: 1px solid shade(@selection, 0.98);

    color: #fff;
}

.suggested-action.button:active,
.suggested-action.button:hover:active {

    background-image: linear-gradient(to bottom,
                                      @suggested_action_button_b,
                                      @suggested_action_button_a);

    border: 1px solid shade(@selection, 0.95);
    box-shadow: inset 0 1px 0 0 alpha(#fff, 0.4),
                inset 0 0 0 1px alpha(#fff, 0.2),
                0 1px 0 0 alpha(#000, 0.2);

    color: #fff;
}

.suggested-action.button:backdrop {
    background-color: @backdrop_background;
    background-image: none;
    border: 1px solid @backdrop_border;
    box-shadow: none;
    icon-shadow: none;
    text-shadow: none;
}

.suggested-action.button:insensitive,
.suggested-action.button:active *:insensitive {
    background-color: @insensitive_background;
    border: 1px solid @insensitive_border;
    box-shadow: none;
    icon-shadow: none;
    text-shadow: none;
}

.suggested-action.button GtkLabel:insensitive,
.suggested-action.button GtkLabel:backdrop,
.suggested-action.button GtkLabel:backdrop:insensitive {
    color: @insensitive_foreground;
    text-shadow: none;
    icon-shadow: none;
}

.suggested-action.button:insensitive:backdrop {
    background-color: alpha(@insentitive_background,0.7);
}
