

/**********
 * Birdie *
 *********/

BirdieWidgetsTweetList * {
    background-image: none;
    background-color: transparent;
}

/********
 * Gala *
 *******/

.gala-workspaces-background {
    border-top: 1px solid alpha(#fff, 0.15);
    background-color: #444;
    
    background-image: linear-gradient(to bottom,
                                  alpha(#000, 0.30),
                                  transparent 6px
                                  );
}

.gala-workspace-selected {

    border: 1px solid alpha(#000, 0.15);
    border-radius: 4px;
    
    box-shadow: inset 0 0 0 1px alpha(#fff, 0.05),
            inset 0 1px 0 0 alpha(#fff, 0.45),
            inset 0 -1px 0 0 alpha(#fff, 0.15),
            0 1px 0 1px alpha(#000, 0.15);
            
    background-image: linear-gradient(to bottom,
                                  shade (@selected_background, 1.25),
                                  shade (@selected_background, 0.98)
                                  );
}

.gala-notification {
    border-width: 0;
    border-radius: 9px;
    color: white;
    background-color: alpha(#555, 0.98);
    box-shadow: inset 0 0 0 1px alpha (#fff, 0.2),
                inset 0 1px 0 0 alpha (#fff, 0.15),
                inset 0 -1px 0 0 alpha (#fff, 0.10),
                0 0 0 1px alpha (#000, 0.7),
                0 2px 7px 0 alpha (#000, 0.35);
}

.gala-notification .title, .gala-notification .label {
    color: white;
    text-shadow: 0 1px alpha (#000, 0.2);
}

/**********
 * Notify *
 *********/

.notify {
    /*-notify-shadow: 0px 2px 18px alpha(#000, 0.60);*/

    border-radius: 5px;
    border: 1px solid alpha(#000, 0.30);

    background-color: alpha(#f8f8f8, 0.95);
}

.notify .low {
}

.notify .critical {
}

/********
* Files *
********/

MarlinViewChromeLocationBar .button {
    background: @background;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid @border;
}

MarlinViewChromeLocationBar .button:active {
    box-shadow: inset 0 1px 1px alpha(#000, 0.1),
                inset 1px 0 @inset_dark;
}

MarlinViewChromeLocationBar .button:focus {
    box-shadow: inset 0 0 0 1px alpha(@selection, 0.23),
                0 1px 0 alpha(#fff, 0.30);
    border-color: @border;
    icon-shadow:none;
}

MarlinViewChromeLocationBar .button:active {
    background-image: none;
    background-color: transparent;
    border-color: alpha(@selection, 0.80);
    box-shadow: inset 0 0 0 1px alpha(@border, 0.4);
    icon-shadow:none;
    border: 1px solid @border;
}

/********
* Geary *
********/

ConversationListView {
    -GtkWidget-focus-line-width: 1px;
    -GtkTreeView-grid-line-width: 0;
}
 
ConversationListView.view.cell {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: alpha(#000, 0.2);
}
 
ConversationListView.view.cell:selected {
    color: @base;
    border: 0px solid shade(@selection, 0.8);
}

/**********
 * Noise *
 *********/

NoiseWidgetsTileView {
    background-color: @base;
    color: @foreground;
}

.tile-view {
    background-color: @base;
    color: @foreground;
}

/***************
 * SwitchBoard *
 ***************/

.category-label {
    font-weight: bold;
    font-size: 1.04em;
    color: @foreground;
    text-shadow: 0 1px @text_shadow;
}

/**********
 * Notify *
 *********/

.notify {
    /*-notify-shadow: 0px 2px 18px alpha(#000, 0.60);*/

    border-radius: 5px;
    border: 1px solid alpha(#000, 0.30);

    background-color: alpha(#f7f7f7, 0.95);
}

.notify .low {
}

.notify .critical {
}


/*************
 * Slingshot *
 ************/

.button.app {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-image: none;
}

.app:hover {
    border-radius: 8px;
    border: none;
    background: alpha(@selection, 0.7);
    color: white;
    icon-shadow: 0 1px alpha(#000, 0.2);
    text-shadow: 0 1px alpha(#000, 0.2);
}

.app:focus {
    background-color: alpha(#000, 0.20);
}
 
.search-item {
    border-radius: 0;
    border: none;
    color: @foreground;
    background: transparent;
}

.search-item:hover,
.search-item:focus {
    border-radius: 0;
    background: alpha(@selection, 0.7);
    color: @selected_foreground;
    icon-shadow: 0 1px alpha(#000, 0.2);
    text-shadow: 0 1px alpha(#000, 0.2);
}
  

.search-entry-large,
.search-entry-large:focus {
    border: none;
    font: 18;
    font-weight: 300;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}
 
.search-category-header {
    font-weight: bold;
    color: @foreground;
    text-shadow: 0 1px @text_shadow;
}

/*********
 * Panel *
 ********/

.panel {
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px alpha(#000, 0.2);
    icon-shadow: 0px 1px alpha(#000, 0.2);
}

.panel .menu  {
    border:none;
}
.panel .menu .menuitem {
    font-weight: normal;
}

.panel-shadow {
    background-image: none;
    background-color: transparent;
}

.panel-app-button {
    -GtkMenuItem-horizontal-padding: 6px;
}

.composited-indicator {
    background-color: transparent;
    color: #fff;
    padding: 0 2px;
}

.composited-indicator.menuitem:active,
.composited-indicator.menuitem:prelight {
    border-style: none;
    background-image: none;
    box-shadow: none;
}

/*********
 * Tweet *
 ********/

.tweet {
    padding: 0;
    box-shadow: none;
}

/************
 * Terminal *
 ***********/

PantheonTerminalPantheonTerminalWindow.background {
   background-color: transparent;
}
