
/************
 * Fallback *
 ************/

.menu {
    border-image: none;
    /*border-image: linear-gradient(to top,
                                  alpha(@border, 0.80),
                                  alpha(@border, 0.60) 33%,
                                  alpha(@border, 0.50) 66%,
                                  alpha(@border, 0.15)) 1 1 1 1/ 1px 1px 1px 1px;*/
}

.menubar .menu {
    border-image: none;
    /*border-image: linear-gradient(to top,
                                  alpha(@border, 0.80),
                                  alpha(@border, 0.60) 33%,
                                  alpha(@border, 0.50) 66%,
                                  transparent 99%) 1 1 1 1/ 1px 1px 1px 1px;*/
}

/***********************
 * Fallback Mode Panel *
 ***********************/
PanelWidget,
PanelApplet,
PanelToplevel {
    padding: 0;
    background-color: @panel;
    background-image: none;
    color: @panel_text;
}

PanelApplet {
    border-width: 0;
}

PanelSeparator {
    border-width: 0;
    background-color: @panel;
    background-image: none;
    color: @base;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {
    -Panelpanel-icon-visible: true;

    border-width: 0;
    background-color: @panel;
    background-image: none;
    color: @panel_text;
}

PanelAppletFrame {
    border-width: 0;
    background-color: @panel;
    background-image: none;
}

PanelApplet .button {
    -GtkButton-inner-border: 2;

    border-width: 0 1px;
    border-radius: 0;
    border-color: transparent;
    background-color: @panel;
    background-image: none;
    color: @base;
}

PanelApplet .button:active {
    border-width: 0 1px;
    border-radius: 0;
    border-color: mix(@panel, @base, 0.23);
    background-color: mix(@panel, @base, 0.21);
    background-image: none;
    color: shade(@base, 1.08);
}

PanelApplet .button:prelight {
    border-color: mix(@panel, @base, 0.13);
    background-color: mix(@panel, @base, 0.11);
    background-image: none;
    color: shade(@base, 1.08);
}

PanelApplet .button:active:prelight {
    border-color: mix(@panel, @base, 0.33);
    background-color: mix(@panel, @base, 0.31);
    background-image: none;
    color: shade(@base, 1.08);
}

WnckPager, WnckTasklist {
    background-color: @panel;
}
