
/***************
 * font-viewer *
 ***************/
SushiFontWidget {
    padding: 6px 12px;
}

/*************
 * gucharmap *
 *************/
GucharmapChartable {
    background-color: @base;
}

GucharmapChartable:active,
GucharmapChartable:focus,
GucharmapChartable:selected {
    background-color: @selected_background;
    color: @selected_foreground;
}

/*******************
 * GNOME Documents *
 *******************/
.documents-dropdown,
.documents-dropdown .view {
    background-color: shade (@background, 1.02);
}

.documents-dropdown.frame {
    padding: 6px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-radius: 0 0 5px 5px;
}

.documents-dropdown .view.radio,
.documents-dropdown .view.radio:focused,
.documents-dropdown .view.radio:selected {
    background-image: none;
    background-color: alpha(@base, 0.0);
}

.documents-dropdown .view.radio:active,
.documents-dropdown .view.radio:active:focused,
.documents-dropdown .view.radio:active:prelight {
    background-image: url("assets/sidebar-radio-checked.svg");
}

.documents-dropdown .view.radio:prelight {
    background-image: url("assets/sidebar-radio-prelight.svg");
}

.documents-dropdown .view.radio:active:selected,
.documents-dropdown .view.radio:active:selected:focused {
    background-image: url("assets/sidebar-radio-selected.svg");
}

.documents-dropdown .view.radio:selected:prelight,
.documents-dropdown .view.radio:selected:focused {
    background-image: url("assets/sidebar-radio-selected-prelight.svg");
}

.documents-load-more.button {
    border-image: none;
    border-color: @border;
    border-width: 1px 0 0;
    border-radius: 0;
}

.documents-scrolledwin.frame {
    border-width: 1px 0 0;
    border-radius: 0;
}

.documents-icon-bg {
    background-color: @documents_emblem_background;
    border-radius: 4px;

    color: @base;
}

.documents-collection-icon {
    background-color: @documents_collection_background;
    border-radius: 8px;
}

.documents-counter {
    background-image: url('assets/dnd-counter.svg');
    background-size: contain;
    background-color: transparent;
    color: @base;
    font: bold;
}

.documents-favorite.button:active,
.documents-favorite.button:active:hover {
    color: shade(@selected_background, 1.20);
}

.documents-entry-tag {
    background-color: @selection;
    color: @selected_foreground;

    border-radius: 4px;
    border-width: 0;

    margin: 2px;
    padding: 4px;
}

.documents-entry-tag:hover {
    background-color: shade(@selection, 1.10);
    color: @selected_foreground;
}

.documents-entry-tag.button,
.documents-entry-tag.button:hover,
.documents-entry-tag.button:active,
.documents-entry-tag.button:active:hover {
    background-color: transparent;
    background-image: none;
    border-image: none;
    border-width: 0;
}

.documents-entry-tag.button:hover {
    color: shade(@selection, 2.10);
}

/******************
 * GNOME Terminal *
 ******************/
VteTerminal {
    background-color: @panel;
    color: @panel_text;
}

TerminalWindow GtkNotebook.notebook {
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

TerminalWindow .scrollbars-junction,
TerminalWindow .scrollbar.trough {
    border-width: 0;
    border-radius: 0;
    background-color: @panel;
    border-color: transparent;
}

TerminalWindow .scrollbar.button,
TerminalWindow .scrollbar.button:active,
TerminalWindow .scrollbar.button:active:hover {
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    color: shade(@panel, 0.6);
}

TerminalWindow .scrollbar.slider {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: shade(@panel, 0.8);
}

TerminalWindow .scrollbar.slider.vertical {
    /* Borders are opposite what you'd expect */
    border-radius: 10px;
    border: 1px solid transparent;
}

TerminalWindow .scrollbar.slider.horizontal {
    /* Borders are opposite what you'd expect */
    border-radius: 10px;
    border: 1px solid transparent;
}

TerminalWindow .scrollbar.slider:hover,
TerminalWindow .scrollbar.slider.vertical:hover {
    border: 1px solid transparent;
    background-color: shade(@panel, 0.8);
}

TerminalWindow .scrollbar.slider:active,
TerminalWindow .scrollbar.slider.vertical:active {
    border: 1px solid transparent;
    background-color: shade(@panel, 1.2);
}


/**************
 * GNOME Misc *
 *************/

ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    -EogScrollView-shadow-type: none;
}


/************
 * Nautilus *
 ************/

.nautilus-canvas-item {
    border-radius: 5px;
}

.nautilus-desktop.nautilus-canvas-item {
    color: @selected_foreground;
    text-shadow: 1px 1px #000;
}

.nautilus-desktop.nautilus-canvas-item:active {
    color: @foreground;
}

.nautilus-desktop.nautilus-canvas-item:backdrop {
    color: white;
    text-shadow: 1px 1px #000;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    color: @selected_foreground;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

.nautilus-desktop.nautilus-canvas-item:selected:backdrop {
    color: @backdrop_selected_foreground;
}

NautilusWindow .frame {
    border-width: 0 0 1px 0;
}

NautilusWindow GtkScrolledWindow.frame {
    border-width: 0;
}

NautilusWindow .sidebar .frame {
    border-width: 0px;
}

NautilusWindow .notebook {
    border-width: 1px 0 0 0;
}

NautilusWindow > GtkGrid > .pane-separator,
NautilusWindow > GtkGrid > .pane-separator:hover {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: @border;
    background-color: @background;
    color: @border;
}

NautilusWindow > GtkGrid > .pane-separator:backdrop,
NautilusWindow > GtkGrid > .pane-separator:hover:backdrop {
    border-color: @backdrop_border;
    background-color: @backdrop_background;
}

NautilusNotebook .notebook {
    border-width: 0 0 0 0;
}

NautilusNotebook .frame {
    border-width: 0;
}

NautilusToolbar .button {
    icon-shadow: 0 1px @text_shadow;
}

NautilusToolbar .button:active {
    icon-shadow: 0 1px @text_shadow;
}

NautilusToolbar .button:insensitive,
NautilusToolbar .button:active *:insensitive {
    icon-shadow: none;
}

NautilusQueryEditor .primary-toolbar.toolbar {
    border-top-width: 0;
    border-bottom-width: 0;
}

NautilusQueryEditor .toolbar {
    padding-top: 3px;
    padding-bottom: 2px;

    border-width: 1px 0 0 0;
    border-style: solid;
    
    border-color: @background;
    
}

NautilusQueryEditor .toolbar:nth-child(2) {
    border-color: @border;
}

NautilusQueryEditor .toolbar:last-child,
NautilusQueryEditor .primary-toolbar.toolbar:only-child {
    border-top-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: @border;
}

NautilusQueryEditor .toolbar:backdrop {
    background-color: @backdrop_background;
    border-color: @backdrop_background;
}

NautilusQueryEditor .toolbar:backdrop:nth-child(2) {
    border-color: @backdrop_border;
}

/*********
 * gedit *
 *********/
 
GeditWindow .pane-separator, 
GeditWindow .pane-separator:hover {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: shade(@background, 0.8);
    background-color: shade(@background, 1.02);
    color: shade(@background, 0.8);
}

GeditPanel.title GtkLabel {
    padding: 4px 0;
}

GeditPanel.vertical .title {
    padding: 4px 0 4px 3px;
    border-style: none;
}

GeditPanel .toolbar {
    border-style: none;
    background-color: transparent;
}

GeditDocumentsPanel .view {
    background-color: @background;
}

GeditPanel.vertical .notebook {
    padding: 0;
    border-width: 1px 0;
}

GeditPanel.horizontal .notebook {
    padding: 0;
    border-width: 0 1px 1px 0;
}

GeditWindow .notebook {
    border-width: 1px 0;
}

GeditPanel .notebook tab,
GeditWindow .notebook tab {
    border-width: 0;
}

GeditStatusComboBox .button,
GeditStatusComboBox .button:hover,
GeditStatusComboBox .button:active,
GeditStatusComboBox .button:active:hover {
    padding: 1px 6px 2px 4px;
    border-style: solid;
    border-width: 0 1px;
    border-radius: 0;
}

GeditStatusComboBox .button:hover,
GeditStatusComboBox .button:active,
GeditStatusComboBox .button:active:hover {
    border-color: shade(@background, 0.8);
}

GeditViewFrame .gedit-search-slider {
    padding: 4px;
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: shade(@base, 0.8);
    background-color: @base;
}

GeditViewFrame .gedit-search-slider .not-found {
    background-color: @error_background;
    background-image: none;
    color: @error_foreground;
}

GeditViewFrame .gedit-search-slider .not-found:selected {
    background-color: @selected_background;
    color: @selected_foreground;
}

GeditFileBrowserWidget .primary-toolbar.toolbar  {
    padding: 2px;
    border-top: none;
    background-color: @background;
    background-image: none;
}

/**********
 * Baobab *
 **********/

.baobab-toolbar.toolbar {
    border-color: shade (@background, 0.9);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.cell.baobab-level-cell,
.cell.baobab-level-cell:hover,
.cell.baobab-level-cell:selected,
.cell.baobab-level-cell:selected:hover {
    border-color: alpha(#000, 0.06);
    border-width: 1px;
    border-style: solid;
    background-color: @base;
}
