
/*********************
 * Unity Decorations *
 *********************/

UnityDecoration {

    /* Border properties (top, right, bottom, left) */
    -UnityDecoration-extents: 28px 1px 1px 1px;/* the size of the decorations  */
    -UnityDecoration-input-extents: 10px;/* the extra size of the input areas */

    /* Shadows settings */
    -UnityDecoration-shadow-offset-x: 1px;/* Size property, the shadow x offset */
    -UnityDecoration-shadow-offset-y: 1px;/* Size property, the shadow y offset */
    -UnityDecoration-active-shadow-color: rgba (0, 0, 0, 0.647);/* Color property, active window shadow color */
    -UnityDecoration-active-shadow-radius: 8px;/* Size property, active window shadow radius */
    -UnityDecoration-inactive-shadow-color: rgba (0, 0, 0, 0.647);/* Color property, inactive windows shadow color */
    -UnityDecoration-inactive-shadow-radius: 5px;/* Size property, inactive windows shadow radius */

    /* Glow applied to the selected scaled window */
    -UnityDecoration-glow-size: 8px;/* Size property, size of glow */
    -UnityDecoration-glow-color: rgb(159, 68, 173);/* Color property of the glow */

    /* Title settings */
    -UnityDecoration-title-indent: 10px;/* Size property, left indent of the title */
    -UnityDecoration-title-fade: 35px;/* Size property, space of the title that can be faded */
    -UnityDecoration-title-alignment: 0.0;/* Float from 0.0 to 1.0, to align the title */
}

UnityDecoration.top {
    padding: 0 5px 0 5px;
    border-radius: 3px 3px 0 0;
    border: 1px solid shade(@panel,0.8);
    border-bottom-width: 0;
    box-shadow: none;
    background-image: none;
    background-color: @panel;
    color: @panel_text;
    text-shadow: 0 1px @panel_text_shadow;
}

UnityDecoration.top.menuitem {
    color: @panel_text;
    text-shadow: 0 1px @panel_text_shadow;
}

UnityDecoration.top.menuitem:backdrop {
    color: alpha(@panel_text, 0.8);
    text-shadow: none;
}

UnityDecoration.top:backdrop {
    border: 1px solid @panel;
    border-bottom-width: 0;
    box-shadow: none;
    background-image: none;
    background-color: @panel;
    color: alpha(@panel_text, 0.8);
    text-shadow: none;
}

UnityDecoration.left,
UnityDecoration.right,
UnityDecoration.bottom {
    background-size: 1px;
    background-repeat: repeat-x;
    background-image: none;
    background-color: shade(@panel,0.8);
}

UnityDecoration.left:backdrop,
UnityDecoration.right:backdrop,
UnityDecoration.bottom:backdrop {
    background-size: 1px;
    background-repeat: repeat-x;
    background-image: none;
    background-image: none;
    background-color: @panel;
}


/***************
* Unity Panel *
***************/

UnityPanelWidget,
.unity-panel {
	background-color: @panel;
	background-image: none;
	color: @panel_text;
    text-shadow: 1px 0 @panel_text_shadow;
    box-shadow: none;
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0 1px;
    text-shadow: 1px 0 @panel_text_shadow;
    color: @panel_text;
    box-shadow: none;
}

.unity-panel.menubar,
.unity-panel .menubar {
    color: @panel_text;
    text-shadow: 1px 0 @panel_text_shadow;
    box-shadow: none;
}

.unity-panel.menubar:backdrop,
.unity-panel .menubar *:backdrop {
    color: @backdrop_foreground;
    text-shadow: 1px 0 @panel_text_shadow;
}

.unity-panel.menubar.menuitem,
.unity-panel.menubar .menuitem {
    padding: 3px 5px;
    border-width: 1px;
    border-style: solid;
    border: none;
    background-color: transparent;
    background-image: none;
    color: @panel_text;
    box-shadow: none;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem:hover {
    border-radius: 4px 4px 0px 0px;
    border-bottom: 0px;
    border: 1px solid shade(@panel, 0.7);
    background-color: shade(@panel, 0.8);
    color: white;
}

.unity-panel.menubar .menuitem *:hover {
    color: white;
}

.unity-panel.menubar .menuitem.separator,
.unity-panel.menubar.menuitem.separator {
    -GtkMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 1;
    border: none;
    color: @menu_separator;
}

/* Force Quit */
SheetStyleDialog.unity-force-quit {
     background-color: @base;
}
