

/********
 * Xfce *
 ********/

 XfceHeading,
.XfceHeading {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: @theme_base_color;
    background-image: none;
    color: @theme_text_color;
}

.xfce4-panel {
    background-color: @panel_bg_color;
    color: @panel_fg_color;
    font: normal;
    text-shadow: none;
    icon-shadow: none;
}

.xfce4-panel .button {
    padding: 0 2px;
    border-radius: 0;
    border-style: none;
    color: @panel_fg_color;
    text-shadow: none;
    box-shadow: none;
    icon-shadow: none;
    -gtk-image-effect: none;
}

.xfce4-panel .button:active {
    background-color: shade(@panel_bg_color, 0.9);
    background-image: none;
    border: none;
    color: @panel_fg_color;
    text-shadow: none;
    box-shadow: none;
    icon-shadow: none;
}

.xfce4-panel .button:hover,
.xfce4-panel .button:active:hover {
    background-color: shade(@panel_bg_color, 1.3);
    background-image: none;
    border: none;
    color: @panel_fg_color;
    text-shadow: none;
    box-shadow: none;
    icon-shadow: none;
}

.xfce4-panel .menu {
    -gtk-image-effect: none;
}
