
/***********
 * Popover *
 **********/

GraniteWidgetsPopOver {

    -GraniteWidgetsPopOver-arrow-width: 21;
    -GraniteWidgetsPopOver-arrow-height: 10;
    -GraniteWidgetsPopOver-border-radius: 8px;
    -GraniteWidgetsPopOver-border-width: 1;
    -GraniteWidgetsPopOver-shadow-size: 12;
    
    border: 1px solid transparent;
    background: @base;
    margin: 0;
    
    box-shadow: inset 0 0 0 1px alpha(#fff, 0.5);
}

GraniteWidgetsPopOver .frame,
GraniteWidgetsStaticNotebook .frame {
    border: none;
}

.popover_bg {
    background-color: @base;
    background-image: none;
    border: 1px solid @border;
}

GraniteWidgetsPopOver .sidebar.view,
GraniteWidgetsPopOver * {
    background-color: transparent;
}

GraniteWidgetsPopOver .button {
    background-image: none;
    background-color: transparent; 
}

GraniteWidgetsPopOver .button:active,
GraniteWidgetsPopOver .button:hover:active {
    background-image: none;
    background-color: alpha(#000, 0.05);
    border-color: @border;
}


/***********
 * Welcome *
 **********/

GraniteWidgetsWelcome {
    background-color: @base;
}

GraniteWidgetsWelcome GtkLabel {
    color: @foreground;
    text-shadow: none;
}

GraniteWidgetsWelcome .h1,
GraniteWidgetsWelcome .h3 {
    color: alpha(@foreground, 0.8);
}
