
/*********
 * Entry *
 *********/

.entry {
    background-color: @base;
    color: @foreground;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 6px;
    box-shadow: inset 0 1px 0 0 alpha(@inset_dark, 0.7),
                inset 0 0 0 1px alpha(@inset_dark, 0.3);
}

.entry:active,
.entry:focus {
    background-color: @base;
    box-shadow: inset 0 1px 0 0 alpha(@inset_dark, 0.7),
                inset 0 0 0 1px alpha(@inset_dark, 0.3);
    color: @foreground;
}

.entry:insensitive {
    background: none;
    color: @insensitive_text;
    box-shadow:none;
}

.entry:selected {
    color: @selected_foreground;
    background-color: @selection;
}

.entry:backdrop {
    background: none;
    color: @backdrop_text;
    box-shadow: none;
}

.entry:insensitive:backdrop {
    color: @backdrop_text;
    box-shadow: none;
    background-color: @backdrop_insensitive_background;
    box-shadow: none;
}

.entry:selected:backdrop {
    color: @backdrop_selected_foreground;
    background-color: @backdrop_selected_background;
    box-shadow: none;
}

.entry.image.left {
    padding-right: 6px;
    color: @internal_element;
}


.entry.progressbar,
.entry.progressbar:focus {
    margin: 0 2px 0 2px;
    border-image: none;
    border-style: none;
    background-color: transparent;
    background-image: linear-gradient(to top, 
                                      transparent 2px,
                                      @base 2px,
                                      @base 3px,
                                      shade(@selection, 0.9) 3px,
                                      shade(@selection, 0.9) 5px,
                                      transparent 5px);
    background-size: auto;
    box-shadow: none;
}

.entry.progressbar.pulse,
.entry.progressbar.pulse:focus {
    background-image: linear-gradient(to top, 
                                      transparent 2px,
                                      @base 2px,
                                      @base 3px,
                                      @border 3px,
                                      @border 5px,
                                      transparent 5px);
}

.entry.progressbar:backdrop {
    margin: 0 2px 0 2px;
    border-image: none;
    border-style: none;
    background-color: transparent;
    background-image: linear-gradient(to top, 
                                      transparent 2px,
                                      @base 2px,
                                      @base 3px,
                                      @backdrop_selected_background 3px,
                                      @backdrop_selected_background 5px,
                                      transparent 5px);
    box-shadow: none;
}
