
/**************
 * GtkInfoBar *
 **************/
 
GtkInfoBar {
    border-width: 0;
    border-style: none;
    background-image: linear-gradient(to bottom,
                                  shade(@gradient_b, 0.96),
                                  shade(@gradient_a, 0.96)
                                  );
    
    color: @foreground;
    text-shadow: none;
    border: solid @border;
    border-bottom-width: 1px;
}


GtkInfoBar GtkLabel {
    color: @foreground;
    icon-shadow: 0 1px @text_shadow;
    text-shadow: 0 1px @text_shadow;
}

GtkInfoBar .entry,
GtkInfoBar .menu {
    color: @foreground;
}

GtkInfoBar GtkLabel:insensitive {
    color: @insensitive_text;
}

GtkInfoBar .button,
GtkInfoBar .button:focus,
.dynamic-notebook GtkInfoBar .button {

    text-shadow: none;
    icon-shadow: none;
    background-image: linear-gradient(to bottom,
                                  @button_gradient_a,
                                  @button_gradient_b
                                  );

    border-radius: 3px;
    border: 1px solid @border;

    box-shadow: inset 0 0 0 1px alpha(#fff, 0.05),
                inset 0 1px 0 0 alpha(#fff, 0.45),
                inset 0 -1px 0 0 alpha(#fff, 0.15),
                0 1px 0 0 alpha(#fff, 0.15);
}

GtkInfoBar .button:active,
GtkInfoBar .button:hover:active {

    background-image: linear-gradient(to bottom,
                                  @button_active_gradient_a,
                                  @button_active_gradient_b
                                  );

    border-radius: 3px;
    border: 1px solid @selection;
}

GtkInfoBar .button:insensitive {
    background-image: none;
    background-color: @insensitive_background; 

    border: 1px solid @insensitive_border;
}
