
/****************
 * Level Bar *
 ****************/

GtkLevelBar {
    -GtkLevelBar-min-block-width: 34;
    -GtkLevelBar-min-block-height: 3;
    border-radius: 2px;
}

GtkLevelBar.vertical {
    -GtkLevelBar-min-block-width: 3;
    -GtkLevelBar-min-block-height: 34;
    border-radius: 2px;
}

.level-bar.trough,
.level-bar.trough:backdrop {
    border-radius: 2px;
    padding: 2px;
}

.level-bar.fill-block {
    border: 1px solid @selected_border;
    background-color: @selection;
}

.level-bar.fill-block:backdrop {
    background-color: shade(@backdrop_background, 0.95);
    border: 1px solid @backdrop_border;
}

.level-bar.indicator-continuous.fill-block {
    padding: 2px;
    border-radius: 2px;
}

.level-bar.fill-block:backdrop,
.level-bar.fill-block.level-high:backdrop,
.level-bar.fill-block.level-low:backdrop {
    background-color: @backdrop_border;
    border-color: @backdrop_border;
    background-image: none;
}

.level-bar.indicator-discrete.fill-block.horizontal {
    margin: 0 1px;
}

.level-bar.indicator-discrete.fill-block.vertical {
    margin: 1px 0;
}

.level-bar.indicator-discrete.fill-block.horizontal:first-child {
    border-radius: 2px 0 0 2px;
}

.level-bar.indicator-discrete.fill-block.horizontal:last-child {
    border-radius: 0 2px 2px 0;
}

.level-bar.indicator-discrete.fill-block.vertical:first-child {
    border-radius: 2px 2px 0 0;
}

.level-bar.indicator-discrete.fill-block.vertical:last-child {
    border-radius: 0 0 2px 2px;
}


.level-bar.fill-block.level-high {
    border-color: shade(@success, 0.85);
    background-image: linear-gradient(to bottom,
                                      shade(@success, 1.2),
                                      @success 75%,
                                      shade(@success, 0.95)
                                      );
}

.level-bar.fill-block.level-low {
    border-color: shade(@warning, 0.80);
    background-image: linear-gradient(to bottom,
                                      shade(@warning, 1.3),
                                      @warning 75%,
                                      shade(@warning, 0.90)
                                      );
}

.level-bar.fill-block.empty-fill-block {
    background-color: transparent;
    background-image: none;
    border-color: alpha(@foreground, 0.1);
}

.level-bar.fill-block.empty-fill-block:backdrop {
    border-color: transparent;
    background-color: transparent;
}
