
/*********
 * Lists *
 *********/
.list,
.list-row {
    background-color: @background;
    color: @foreground;
}

.list-row:hover {
    background-color: shade(@background, 1.1);
    color: shade(@foreground, 1.1);
}

.list:backdrop,
.list-row:backdrop {
    background-color: @backdrop_background;
}

.list-row,
.grid-child {
    padding: 2px;
}

.list-row .button {
    box-shadow: none;
}

.list-row .button:hover {
    background-color: shade(@background, 1.1);
    border: 1px solid @border;
}

.list-row:selected,
.list-row .button:selected,
.list-row .button:selected:hover {
}

.list-row:selected:backdrop,
.list-row .button:backdrop:selected:hover {
}

.list-row.button:selected,
.list-row:selected {
}

.list-row.button:selected:backdrop,
.list-row:selected:backdrop {
}

/* List Row Button */
.button.list-row {
    border: 1px solid transparent;
    color: @foreground;
}

.button.list-row:hover  {
    border: 1px solid @border;
    color: @foreground;
}

.button.list-row:active {
    border: 1px solid @border;
    color: @foreground;
}

.button.list-row:active:selected,
.button.list-row:active:selected:hover {
    border: 1px solid @border;
    color: @foreground;
}

.button.list-row:hover:selected {
    border: 1px solid @border;
    background-color: shade(@background, 1.2);
    color: @foreground;
}
