
/***************
 * Menu Button *
 ***************/

.menu.button {
    background-image: none;
    background-color: @base;
    border: 1px solid @selection;
}

.menu.button.separator {
    border-style: none;
    color: shade(@foreground, 3.2);
    -GtkMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 1;
}

.menu.button:hover {
    background-image: none;
    background-color: @base;
    color: @foreground;
    border-style: none;
}

.menu.button:insensitive {
    background-color: @base;
    color: lighter(@internal_element);
    border-style: none;
}

.menu.button:hover,
.menu.button:active,
.menu.button:active:insensitive,
.menu.button:insensitive,
.menu.button {
    border-width: 0;
    background-color: shade(@foreground, 1.05);
    background-image: none;
}


.toolbar GtkMenuButton.button:active,
.toolbar GtkMenuButton.button.raised:active,
GtkMenuButton.button:active,
.linked GtkMenuButton.button:active,
.toolbar .linked.raised GtkMenuButton.button:active,
.toolbar GtkMenuButton.button.linked.raised:active {
    background-image: linear-gradient(to bottom,
                                  @button_active_gradient_a,
                                  @button_active_gradient_b
                                  );
    color: @foreground;
}

GtkMenuButton.button *:active,
.linked GtkMenuButton.button *:active,
.toolbar .linked.raised GtkMenuButton.button *:active,
.toolbar GtkMenuButton.button.linked.raised *:active {
    text-shadow: 0 1px alpha(@base,0.3);
    icon-shadow: 0 1px alpha(@base,0.3);
}

.linked GtkMenuButton.button:active:last-child,
.toolbar .linked.raised GtkMenuButton.button:active:last-child,
.toolbar GtkMenuButton.button.linked.raised:active:last-child {
    border-top-left-radius: 0;
}

.linked GtkMenuButton.button:active:first-child,
.toolbar .linked.raised GtkMenuButton.button:active:first-child,
.toolbar GtkMenuButton.button.linked.raised:active:first-child {
    border-top-right-radius: 0;
}

.button.menuitem.menubar:active {
    background-image: none;
    background-color: @background;

    border: 1px solid @background;
    border-radius: 6px 6px 0 0;
    border-image: none;
    border-bottom-width: 0px;
}

.button.menuitem.menubar *:active,
GtkMenuButton.button *:active,
.toolbar GtkMenuButton.button *:active {
    color: @foreground;
}

GtkMenuButton .menu {
    text-shadow: none;
}
