
/************************
* Sidebar & Source List *
************************/

.sidebar,
.sidebar .view,
.sidebar GtkScrolledWindow,
.source-list,
.source-list.view {
    background-color: @background;
    color: @foreground;
}

.sidebar .separator {
    color: transparent;
}

GtkDialog .sidebar,
GtkDialog .sidebar .view,
GtkDialog .sidebar GtkScrolledWindow {
    background-color: shade (@background, 1.07);
}

.sidebar,
.sidebar .view,
.sidebar .view:selected:backdrop,
.sidebar .view:hover:selected:backdrop,
.source-list,
.source-list.view,
.source-list.view:selected:backdrop,
.source-list.view:hover:selected:backdrop {
    text-shadow: none;
    icon-shadow: none;
}

.sidebar,
.source-list {
    -GtkTreeView-horizontal-separator: 1px;
    -GtkTreeView-vertical-separator: 6px;
}

.sidebar:backdrop,
.source-list:backdrop {
    border: solid @backdrop_border;
    border-left-width: 1px;
}

.source-list.category-expander {
    color: transparent;
}

.sidebar .view:hover,
.source-list.view:hover {
    background-color: shade (@background, 1.02);
}

.sidebar .view:selected,
.sidebar .view:hover:selected,
.sidebar.view:selected,
.sidebar.view:hover:selected,
.source-list.view:selected,
.source-list.view:hover:selected,
.source-list.view:selected:focus,
.source-list.category-expander:hover {

    color: white;
    border-style: solid;
    border-width: 1px 0 1px 0;

    background-color: @selection;
    box-shadow: none;
}

GtkDialog .sidebar .view:selected,
GtkDialog .sidebar .view:hover:selected {
    background-image: none;
    background-color: alpha(#000, 0.05);
    color: @foreground;

    border-image: linear-gradient(to bottom,
                                  alpha(#000, 0.15),
                                  alpha(#fff, 0.30)
                                  ) 1 1 1 1;

    box-shadow: inset 0 1px 0 0 alpha(#000, 0.02),
                inset 0 -1px 0 0 alpha(#000, 0.10);
}

.sidebar .view:selected:backdrop,
.sidebar .view:hover:selected:backdrop,
.source-list.view:selected:backdrop,
.source-list.view:hover:selected:backdrop {
    background-color: shade(@background, 0.95);
    border-color: @border;

    color: @foreground;
    border-style: solid;
    border-width: 1px 0 1px 0;

    box-shadow: none;
}

GtkDialog .sidebar .view:selected:backdrop,
GtkDialog .sidebar .view:hover:selected:backdrop {
    background-color: shade(@background, 0.95);
    border-color: @border;
    border-image:none;
    box-shadow: none;
}

.sidebar-pane-separator,
.sidebar-pane-separator:hover,
.sidebar-pane-separator:selected {

    border-width: 0;
    -GtkPaned-handle-size: 1;
    background-image: none;
    background-color: shade (@background, 0.75);
}

.sidebar .scrollbar.trough,
.sidebar .scrollbars-junction,
.source-list .scrollbar.trough,
.source-list .scrollbars-junction {
    background-color: @background;
}

.source-list.badge,
.source-list.badge:hover,
.source-list.badge:selected,
.source-list.badge:selected:focus,
.source-list.badge:hover:selected {
    background-image: none;
    background-color: alpha(#000, 0.4);
    color: @background;
    border-radius: 10px;
    padding: 0 6px;
    margin: 0 3px;
    text-shadow: 0 1px alpha(#000, 0.1);
    icon-shadow: 0 1px alpha(#000, 0.1);
    border-width: 0;
}

.source-list.badge:selected,
.source-list.badge:hover:selected {
    color: @background;
}

.source-list.badge:selected:backdrop,
.source-list.badge:selected:hover:backdrop {
    background-image: none;
    background-color: alpha(#000, 0.2);
    color: shade (@background, 0.95);
    text-shadow: 0 1px alpha(#000, 0.1);
    icon-shadow: 0 1px alpha(#000, 0.1);
}
