
/*************
 * GtkSwitch *
 *************/

GtkSwitch {
    font: 1;
    -GtkSwitch-slider-width: 38;
}

GtkSwitch.trough {
    background-repeat: no-repeat;
    background-position: 0 center;
        
    color: transparent;
    border: none;
    box-shadow: none;
}

GtkSwitch.slider {
    background-repeat: no-repeat;
    background-position: 0 center;
}

GtkSwitch.slider:insensitive {
    background-image: none;
    background-color: transparent;
}
