
/***********
 * Dialogs *
 ***********/

.prompt,
GtkMessageDialog {
    -GtkDialog-button-spacing: 0;
    -GtkDialog-content-area-border: 12px;
}

GtkMessageDialog .button {
    padding: 1px;
}

GtkDialog .titlebar,
GtkMessageDialog .titlebar {
    border: none;

    background-image: none;
    background-color: @background;

    box-shadow: none;
}

GtkDialog .titlebar:backdrop,
GtkMessageDialog .titlebar:backdrop {
    border: none;

    background-image: none;
    background-color: @backdrop_background;

    box-shadow: none;

    color: shade (@foreground, 1.20);
}

GtkDialog,
GtkMessageDialog {
    box-shadow: none;
}

GtkDialog .toolbar {
    background-image: none;
    background-color: @background;
}
