
/*********************
 * app notifications *
 *********************/
.app-notification {
    border: solid @border;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 2px 2px;
    padding: 8px;
    background-color: @base;
    background-image: none;
    color: @foreground;
}

/*********
 * text *
 *********/
.h1 { font: 24; }
.h2 { font: 18; }
.h3 { font: 12; }

/*********
 * label *
 *********/
GtkLabel,
GtkLabel:active,
GtkLabel:insensitive {
    background-color: transparent;
}

/*************
 * assistant *
 *************/
GtkAssistant .sidebar .highlight {
    font: bold;
}

GtkAssistant .sidebar {
    padding: 3px;
    border-right-width: 3px;
    border-style: solid;
    border-right-color: @border;
    border-radius: 0;
    background-color: @background;
    color: mix(@foreground, @background, 0.1);
}


/*************************
 * touch text selections *
 *************************/
GtkBubbleWindow {
    border-radius: 4px;
    background-clip: border-box;
}

GtkBubbleWindow.osd.background {
    background-color: @osd_background;
}

GtkBubbleWindow .toolbar {
    background-color: transparent;
}


/* dnd */
.view.dim-label,
.dim-label,
.dim-label:hover,
.dim-label:focus {
    color: mix(@foreground, @background, 0.5);
}

.dim-label:selected,
.dim-label:selected:focus {
    color: mix(@selected_foreground, @selection, 0.5);
}

.dnd {
    border: 1px solid shade(@selection, 0.9);
}

.grip {
    background-color: transparent;
}

.arrow {
    color: alpha(@foreground, 0.7);
}
