

/****************
 * Progress bar *
 ****************/

GtkProgressBar {
    padding: 0
}

GtkProgressBar.progressbar {
    border-radius: 0;
    color: @selected_foreground;
    text-shadow: 0 1px alpha(#000, 0.3);
    icon-shadow: 0 1px alpha(#000, 0.3);

    background-image: linear-gradient(to bottom,
                                  shade(@selection, 1.2),
                                  shade(@selection, 1.0)
                                  );


    border: 1px solid alpha(@selected_border, 0.8);

}

GtkProgressBar.progressbar:backdrop {
    border-radius: 0;
    color: @selected_foreground;
    text-shadow: none;
    icon-shadow: none;

    background-image: none;
    background-color: shade(@backdrop_background, 0.95);

    border: 1px solid;

    border-image: none;
    border-color:@backdrop_border;

}

GtkProgressBar.trough {

    padding: 0;

    border: 1px solid @border;

    background-image: linear-gradient(to bottom,
                                  @trough_background,
                                  shade(@trough_background, 1.05)
                                  );
}


.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus,
.progressbar.vertical row,
.progressbar.vertical row:hover,
.progressbar.vertical row:selected,
.progressbar.vertical row:selected:focus {
    border-radius: 0;
    color: @selected_foreground;
    text-shadow: 0 1px alpha(#000, 0.3);
    icon-shadow: 0 1px alpha(#000, 0.3);

    background-image: linear-gradient(to bottom,
                                  shade(@selection, 1.2),
                                  shade(@selection, 1.0)
                                  );

    border: 1px solid alpha(@selected_border, 0.8);
}

.progressbar row:insensitive,
.progressbar row:hover:insensitive,
.progressbar row:selected:insensitive,
.progressbar row:selected:focus:insensitive,
.progressbar.vertical row:insensitive,
.progressbar.vertical row:hover:insensitive,
.progressbar.vertical row:selected:insensitive,
.progressbar.vertical row:selected:focus:insensitive {
    color: @selected_foreground;
    text-shadow: 0 1px alpha(#000, 0.3);
    icon-shadow: 0 1px alpha(#000, 0.3);
    background-color: @selection;
    background-image: linear-gradient(to bottom,
                                  alpha(#000, 0.10),
                                  alpha(#000, 0.05)
                                  );

    border: 1px solid shade(@selection, 0.8);
}

.progressbar row:backdrop,
.progressbar row:hover:backdrop,
.progressbar row:selected:backdrop,
.progressbar row:selected:focus:backdrop,
.progressbar.vertical row:backdrop,
.progressbar.vertical row:hover:backdrop,
.progressbar.vertical row:selected:backdrop,
.progressbar.vertical row:selected:focus:backdrop {
    border-radius: 0;
    color: @selected_foreground;
    text-shadow: 0 1px alpha(#000, 0.3);
    icon-shadow: 0 1px alpha(#000, 0.3);
    background-image: linear-gradient(to bottom,
                                      @backdrop_progressbar_background_a,
                                      @backdrop_progressbar_background_b
                                      );

    border: 1px solid;

    border-image: linear-gradient(to bottom,
                                  shade(@backdrop_border, 0.95),
                                  shade(@backdrop_border, 0.9)
                                  ) 1 1 1 1;
}


/***********
 * Troughs *
 ***********/
.trough row,
.trough row:hover,
.trough row:selected,
.trough row:selected:focus {

    padding: 0;

    border: 1px solid;

    background-image: linear-gradient(to bottom,
                                  @trough_background,
                                  shade(@trough_background, 1.05)
                                  );

    border-image: linear-gradient(to bottom,
                                  @border,
                                  shade(@border, 0.95)
                                  ) 1 1 1 1;
}

.trough.vertical row,
.trough.vertical row:selected,
.trough.vertical row:selected:focus {
    background-color: @base;
}

.trough:insensitive,
.trough.vertical:insensitive {

    padding: 0;

    border: 1px solid;

    background-image:none;
    background-color:@insensitive_base;

    border-image: linear-gradient(to bottom,
                                  @border,
                                  shade(@border, 0.95)
                                  ) 1 1 1 1;
}

.trough:backdrop,
.trough.vertical:backdrop {

    padding: 0;

    border: 1px solid;

    background-image:none;

    border-image: linear-gradient(to bottom,
                                  @border,
                                  shade(@border, 0.95)
                                  ) 1 1 1 1;
    background-color: @backdrop_background;
}
