
/**************
 * Spinbutton *
 **************/
.spinbutton.button,
.spinbutton .button {
    padding: 2px 4px;
    box-shadow: inset 1px 0 shade(@base, 0.9);
    background-color: transparent;
    background-image: none;
    border-image: none;
    color: @foreground;
}

.spinbutton.entry {
    background-color: @base;
}

.spinbutton.entry:selected {
    background-color: @base;
    box-shadow: inset 0 1px alpha(#000, 0.1);
    color: @foreground;
}

.spinbutton.entry:focus {
    background-color: @base;
    box-shadow: inset 0 1px alpha(#000, 0.1);
    color: @foreground;
}

.spinbutton .button:first-child {
    box-shadow: none;
}

.spinbutton .button:last-child {
    box-shadow: none;
}

/*Button Hover*/
.spinbutton .button:hover,
.spinbutton .button:hover:focus {
    color: white;
    border-radius: 3px;
    background-color: @selection;
    background-image: none;
    icon-shadow:none;
}

.spinbutton:active,
.spinbutton .button:active,
.spinbutton .button:active:focus,
.spinbutton .button:active:hover:focus {
    color: @foreground;
    background-image: none;
}

.spinbutton .button,
.spinbutton .button:focus {
    color: @foreground;
    background-image: none;
}

.spinbutton.entry:insensitive,
.spinbutton .button:insensitive,
.spinbutton .button:focus:insensitive {
    color: @insensitive_text;
    background-color: @insensitive_background;
    background-image: none;
}

.spinbutton.entry:backdrop,
.spinbutton .button:backdrop {
    color: @backdrop_text;
    background-color: transparent;
    background-image: none;
}

/* Separator */
.spinbutton .separator,
.spinbutton.separator {
    color: transparent;
}

.spinbutton .separator:insensitive,
.spinbutton.separator:insensitive {
    color: transparent;
}

/***********************
 * Spinbutton Vertical *
 ***********************/

.spinbutton.vertical .button {
    box-shadow: none;
}

.spinbutton.vertical .button {
    padding: 2px 4px;
}

.spinbutton.vertical.entry {
    background-color: transparent;
}

.spinbutton.vertical.entry:selected {
    background-color: transparent;
    box-shadow: inset 0 1px alpha(#000, 0.1);
    color: @foreground;
}

.spinbutton.vertical .button:hover,
.spinbutton.vertical .button:hover:focus {
    color: white;
    border-radius: 3px;
    background-color: @selection;
    background-image: none;
    icon-shadow:none;
}

.spinbutton.vertical:active,
.spinbutton.vertical .button:active,
.spinbutton.vertical .button:active:focus,
.spinbutton.vertical .button:active:hover:focus {
    color: @foreground;
    background-color: transparent;
}

.spinbutton.vertical .button
.spinbutton.vertical .button:focus {
    color: @foreground;
    background-image: none;
}

.spinbutton.vertical.entry:insensitive,
.spinbutton.vertical .button:insensitive
.spinbutton.vertical .button:focus:insensitive {
    color: @insensitive_text;
    background-color: transparent;
    background-image: none;
}

.spinbutton.vertical.entry:backdrop,
.spinbutton.vertical .button:backdrop {
    color: @backdrop_text;
    background-color: transparent;
    background-image: none;
}

.spinbutton.vertical .button:first-child {
}

.spinbutton.vertical .button:last-child {
}
